*{
    margin: 0;
}
nav {
    background: rgb(2,0,36);
    background: linear-gradient(45deg, rgba(2,0,36,1) 0%, rgba(6,5,80,1) 20%, rgba(9,9,121,1) 40%, rgba(15,37,175,1) 60%, rgba(18,92,185,1) 80%, rgba(70,159,201,1) 100%);
    height: 5vh;
    width: 100%;
    padding: 3vh 5vh 5vh 5vh;
    color: aliceblue;
}

nav h1 {
    font-size: ;
}
@media (max-width: 950px) {
    nav h1 {
        font-size: 28px;
    }
}